.Gallery{
    overflow:visible;
    align-items: center;
    background-color: rgb(218, 191, 191);
    border-width: 30px;
    margin:40;
    border-style: ridge;
    border-color:rgb(201, 190, 33);
}